#screen {
  color: black;
  background-image: linear-gradient(to right, rgb(255, 255, 255), royalblue);
  font-family: monospace;
}
#title {
  color: royalblue;
  font-size: 20px;
  position: absolute;
  top: 0px;
  left: 20px;
}

#nav {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 20px;
}

.navItem {
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-color: royalblue;
}

li {
  display: inline;
}

.contentContainer {
  margin: auto;
  margin-top: 100px;
  width: 40%;
  height: 80%;
  padding: 20px;
}

.textTitle {
  margin: 20px;
  padding: 10px;
  text-align: center;
  color: royalblue;
  background-color: white;
  box-shadow: 0px 5px 5px 0px royalblue;
}
.contextBlock {
  margin: 20px;
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  color: royalblue;
  background-color: white;
  box-shadow: 0px 5px 5px 0px royalblue;
}
#image01 {
  border-color: royalblue;
  width: 100%;
  margin: auto;
}

.hide {
  position: absolute;
  width: 0;
  height: 0;
  border: 0;
}

.formContainer {
  margin-top: 100px;
  color: royalblue;
}

#contactForm {
  background-color: white;
  margin: auto;
  width: 30%;
  height: 90%;
  padding: 30px;
  font-size: 20px;
  box-shadow: 0px 5px 5px 0px royalblue;
}
#form_title {
  background-color: transparent;
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
}
#l_name {
  background-color: rgb(147, 196, 236);
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0px 5px 5px 0px royalblue;
}
#l_mail {
  background-color: rgb(147, 196, 236);
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0px 5px 5px 0px royalblue;
}
#l_phone {
  background-color: rgb(147, 196, 236);
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0px 5px 5px 0px royalblue;
}

#buttonContainer {
  background-color: rgb(147, 196, 236);
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0px 5px 5px 0px royalblue;
}

#submit {
  background-color: white;
  margin: auto;
  width: 80%;
  color: royalblue;
  border-radius: 10px;
}
#reset {
  background-color: white;
  margin: auto;
  width: 80%;
  color: royalblue;
  border-radius: 10px;
}

.btnContainer {
  display: inline;
}

.btn {
  margin: 20px;
  padding: 10px;
  text-align: center;
  color: royalblue;
  background: white;
  border-width: 1px;
  border-color: royalblue;
  position: absolute;
  top: 65%;
  left: 44.5%;
}

a {
  color: white;
  text-decoration: none;
}
